*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --peach: #ffd2cc;
    --light-green: #b0e794;
    --green: #9ad47d;
    --dark-green: #7daa66;
    --white: #fffff8;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.container {
    width: 100%;
}

form {
    background: var(--peach);
    border-radius: 10px;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
}

label {
    display: block;
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
}

form input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: var(--white);
    box-sizing: border-box;
    height: 42px;
}

form button {
    width: 200px;
    display: block;
    margin: 24px auto 0;
    background: var(--green);
    color: var(--white);
    padding: 10px 0;
    border: 0;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

form button:hover {
    background: #8ccc6e;
}

form a {
    width: 200px;
    display: block;
    margin: 12px auto 0;
    background: var(--white);
    color: var(--green);
    padding: 10px 0;
    border: 1px solid var(--green);
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 100px;
    overflow: hidden;
    background-color: var(--green);
}
  
li {
    display: inline-block;
}

li.right {
    position: relative;
    float: right;
}
  
li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: var(--dark-green);
}

.router-link-active {
    background-color: var(--light-green);
}

li p {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    margin: 0;
}

li button {
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
}

li button:hover {
    background-color: var(--dark-green);
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: #ff0000;
    font-size: 12px;
}

.modal {
    padding: 20px;
    margin: 100px auto;
    background: white;
    border-radius: 10px;
}

.modal.sm {
    width: 400px;
}

.modal.md {
    width: 500px;
}

.modal.lg {
  
    width: 750px;
}
.modal.xl {
    width: 900px;
}

.backdrop {
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.modal.dark {
    background: black;
    color: white;
}
.loading {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 30px auto;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: var(--peach);
    animation: spin 1s ease infinite;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
    width: 100%;
}
.image-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.figure:hover {
    opacity: 0.8;
}
.image {
    width: 100%;
    height: auto;
}
.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
    text-align: right;
}



@keyframes spin {
    to { transform: rotate(360deg); }
}